@use '../abstracts/variables' as v;

.start-game {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5rem;
	width: clamp(320px, 50vw, 400px);
	height: clamp(280px, 50vw, 360px);
	background-image: url(../../images/bg-triangle.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
	.circle-btn {
		width: 130px;
		height: 130px;
		border-radius: 100%;
		border: 1.5rem solid transparent;
		cursor: pointer;
	}
}
.paper-styles {
	background: linear-gradient(white, white) padding-box,
		linear-gradient(v.$paper-gradient);
}
.scissors-styles {
	background: linear-gradient(white, white) padding-box,
		linear-gradient(v.$scissors-gradient);
}
.rock-styles {
	background: linear-gradient(white, white) padding-box,
		linear-gradient(v.$rock-gradient);
}
.game-board {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	width: clamp(320px, 50vw, 400px);
	p {
		text-transform: uppercase;
		font-size: 1.4rem;
		text-align: center;
	}
	.player,
	.computer {
		&__selection {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 130px;
			height: 130px;
			border-radius: 100%;
			background-color: hsla(238, 48%, 15%, 0.247);
			border: 1.5rem solid transparent;
			margin-bottom: 3rem;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		gap: 2rem;
		margin-top: 4rem;
		p {
			font-size: 4rem;
			text-transform: uppercase;
		}
		button {
			padding: 1.5rem;
			width: 230px;
			text-transform: uppercase;
			font-size: 1.4rem;
			color: v.$dark-text;
			font-weight: bold;
			border-radius: 10px;
			cursor: pointer;
		}
	}
}
